#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: -15px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 50px 25px rgba(0, 0, 0, .8);
    }
}

#splash-screen .splash-screen__loading {
}

#splash-screen .splash-screen__loading span {
    font-size: 20px;
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    color: #30363e;

}

.splash-screen__loading span:first-child { animation-delay: .1s; }
.splash-screen__loading span:nth-child(2) { animation-delay: .2s; }
.splash-screen__loading span:nth-child(3) { animation-delay: .3s; }
.splash-screen__loading span:nth-child(4) { animation-delay: .4s; }
.splash-screen__loading span:nth-child(5) { animation-delay: .5s; }
.splash-screen__loading span:nth-child(6) { animation-delay: .6s; }
.splash-screen__loading span:last-child { animation-delay: .7s; }
